header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 70vw;
  padding-left: 2em;
  min-height: 12vh;
}

h1 {
  font-family: Raleway;
  text-transform: uppercase;
}

.exhibition {
  margin-top: 0.2em;
}

.word {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  header {
    width: 75vw;
  }

  .exhibition {
    margin-top: 0;
  }
  header {
    min-height: 18vh;
  }
}
